/* import font goolge  */

@import url('https://fonts.googleapis.com/css?family=Modak|Roboto+Slab:300,400');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

/* CSS Reset */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Roboto Slab', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-dark .navbar-brand {
    font-size : 40px;
    font-family: 'Modak', cursive;
    color: white;
    font-weight: 100;   
}

.navbar-dark .navbar-nav  {
    font-size: 20px;
}

.btn-outline-success {
    color: white;
    background-color: hsla(0, 0%, 0%, 0);
    background-image: none;
    border-color: white;
}

.btn-outline-success:hover {
    background-color: white;
    color: black;
}

.form-inline a i{
    font-size: 30px;
    color: #cccecf;
    padding: 0 10px;
}

.form-inline a:hover i {
    color: white;
}



#main-nav {
    background: linear-gradient(to right, #e8e5e5 , #c4c2c2, #e8e5e5); /* Standard syntax */
    background: -webkit-linear-gradient(left, #e8e5e5 , #c4c2c2, #e8e5e5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e8e5e5, #c4c2c2, #e8e5e5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e8e5e5, #c4c2c2, #e8e5e5); /* For Firefox 3.6 to 15 */
    height: 640px;
    text-align: center;
}

.container::before,
.container::after {
    content: "";
    clear: both;
}

.container::after {
    display: table;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.line-profil {
    background-color: hsla(0, 1%, 28%, 0.38);
    height: 140px;
    position: relative;
    top: 30px;
    padding: 5px;
}

.profil img {
    height: 130px;
    border-radius: 100%;
}

.profil h1 {
    font-family: 'Modak', cursive;
    padding: 30px 0;
    font-size: 70px;
    color: #252525;
}

.account {
    font-size: 30px;
    letter-spacing: 15px;
}

.account a i {
    color: #1f1f1f;
}

.account a i:hover {
    color: white;
}

.testimoni {
    font-family: 'Pacifico', cursive;
    margin: 50px 0;
    padding: 50px;
    background-color: rgba(87, 86, 86, 0.08);
    display: inline-block;
    border-radius: 100%;
    color: #3D3C3C;
}

.testimoni h1 {
    padding: 0 50px;
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    padding-bottom: 20px;
}

.testimoni p {
    font-size: 20px;
    font-weight: 900;
}

#nav-about {
    background: radial-gradient(#afaeae, #919191, #777676);  
    background: -webkit-radial-gradient(#afaeae, #919191, #777676);
    background: -o-radial-gradient(#afaeae, #919191, #777676);
    background: -moz-radial-gradient(#afaeae, #919191, #777676);    
    padding: 35px 0 65px 0;
}

.content-header {
    text-align: center;
    padding: 20px 0;
}

.content-header h1 {
    font-size: 30px;
    font-weight: 900;
    padding: 20px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    display: inline-block;
    text-align: center;
}

.header-nav h1 {
    font-size: 28px;
    font-weight: 400;
    padding: 12px 0 15px;
    border-bottom: 3px solid hsl(0, 13%, 96%);
    margin: 20px 0;
    color: black;
    line-height: 20px;
    display: inline;
    font-style: italic;
    
}

.header {
    display: inline-block;
    float: left;
    margin: 80px 0 0 20px;
}

.header i {
    font-size: 50px;
}

.header h3 {
    font-size: 30px;
    font-weight: 900;
}

.colom-4 {
    background-color: rgba(73, 72, 72, 0.38);
    color: #fff;
    font-size: 17px;
    padding: 25px 30px;
    border-radius: 5px;
    line-height: 1.5;
    margin: 65px 0 0 0;
}

.colom-4 h1 {
    font-size: 25px;
    padding: 0 0 10px;
    border-bottom: 2px solid #FFFFFF;
    padding: 0 0 10px;
    margin: 10px 0;
}

#main-skill {
    background-color: #CECBCB;
    padding: 40px 0;
}

.our-skill {
    padding-top: 50px;
}

.skillst8 {
    padding: 80px 10px 20px;
}


.skillst8 .skillbar {
    width: 100%;
    height: 25px;
    background-color: #f1f1f1;
    position: relative;
    margin-bottom: 30px;
    padding: 4px;
    box-sizing: border-box;
}

.skillst8 .count-bar {
    width: 100%;
    height: 17px;
    width: 0px;
    position: relative;
}

.skillst8 .count-bar.color-1 {
    background-image: -moz-linear-gradient(left, #8D2D03 0%, #B63C04 49.88%, #F8550F 100%);
    background-image: -o-linear-gradient(left, #8D2D03 0%, #B63C04 49.88%, #F8550F 100%);
    background-image: -webkit-linear-gradient(left, #8D2D03 0%, #B63C04 49.88%, #F8550F 100%);
    background-image: linear-gradient(left, #8D2D03 0%, #B63C04 49.88%, #F8550F 100%);
}

.skillst8 .count-bar.color-2 {
    background-image: -moz-linear-gradient(left, #2E155C 0%,#59279B 49.88%, #682ABE  100%);
    background-image: -o-linear-gradient(left, #2E155C 0%,#59279B 49.88%, #682ABE  100%);
    background-image: -webkit-linear-gradient(left, #2E155C 0%,#59279B 49.88%, #682ABE  100%);
    background-image: linear-gradient(left, #2E155C 0%,#59279B 49.88%, #682ABE  100%);
}

.skillst8 .count-bar.color-3 {
    background-image: -moz-linear-gradient(left, #f2c515 0%, #f4cb35 49.88%, #ffd954 100%);
    background-image: -o-linear-gradient(left, #f2c515 0%, #f4cb35 49.88%, #ffd954 100%);
    background-image: -webkit-linear-gradient(left, #f2c515 0%, #f4cb35 49.88%, #ffd954 100%);
    background-image: linear-gradient(left, #f2c515 0%, #f4cb35 49.88%, #ffd954 100%);
}

.skillst8 .count-bar.color-4 {
    background-image: -moz-linear-gradient(left, #297fb9 0%, #149ef9 49.88%, #47b8ff 100%);
    background-image: -o-linear-gradient(left, #297fb9 0%, #149ef9 49.88%, #47b8ff 100%);
    background-image: -webkit-linear-gradient(left, #297fb9 0%, #149ef9 49.88%, #47b8ff 100%);
    background-image: linear-gradient(left, #297fb9 0%, #149ef9 49.88%, #47b8ff 100%);
}

.skillst8 .count-bar.color-5 {
    background-image: -moz-linear-gradient(left, #000000 0%, #141313 49.88%, #2d2c2c 100%);
    background-image: -o-linear-gradient(left, #000000 0%, #141313 49.88%, #2d2c2c 100%);
    background-image: -webkit-linear-gradient(left, #000000 0%, #141313 49.88%, #2d2c2c 100%);
    background-image: linear-gradient(left, #000000 0%, #141313 49.88%, #2d2c2c 100%);
}

.skillst8 .count-bar.color-6 {
    background-image: -moz-linear-gradient(left, #444343 0%, #525151 49.88%, #5A5959 100%);
    background-image: -o-linear-gradient(left, #444343 0%, #525151 49.88%, #5A5959 100%);
    background-image: -webkit-linear-gradient(left, #444343 0%, #525151 49.88%, #5A5959 100%);
    background-image: linear-gradient(left, #444343 0%, #525151 49.88%, #5A5959 100%);
}

.skillst8 .count-bar.color-7 {
    background-image: -moz-linear-gradient(left, #124702 0%, #186B03 49.88%, #76FD54 100%);
    background-image: -o-linear-gradient(left, #124702 0%, #186B03 49.88%, #76FD54 100%);
    background-image: -webkit-linear-gradient(left, #124702 0%, #186B03 49.88%, #76FD54 100%);
    background-image: linear-gradient(left, #124702 0%, #186B03 49.88%, #76FD54 100%);
}

.skillst8 .count-bar.color-8 {
    background-image: -moz-linear-gradient(left, #530202 0%, #910505 49.88%, rgba(189, 5, 5, 0.73) 100%);
    background-image: -o-linear-gradient(left, #530202 0%, #910505 49.88%, rgba(189, 5, 5, 0.73) 100%);
    background-image: -webkit-linear-gradient(left, #530202 0%, #910505 49.88%, rgba(189, 5, 5, 0.73) 100%);
    background-image: linear-gradient(left, #530202 0%, #910505 49.88%, rgba(189, 5, 5, 0.73) 100%);
}

.skillst8 .count-bar.color-9 {
    background-image: -moz-linear-gradient(left, #65D38D 0%, #77dd9b 49.88%, #81eaa5 100%);
    background-image: -o-linear-gradient(left, #65D38D 0%, #77dd9b 49.88%, #81eaa5 100%);
    background-image: -webkit-linear-gradient(left, #65D38D 0%, #77dd9b 49.88%, #81eaa5 100%);
    background-image: linear-gradient(left, #65D38D 0%, #77dd9b 49.88%, #81eaa5 100%);
}

.skillst8 .count-bar.color-10 {
    background-image: -moz-linear-gradient(left, #FC7B6B 0%, #f98d81 49.88%, #f99084 100%);
    background-image: -o-linear-gradient(left, #FC7B6B 0%, #f98d81 49.88%, #f99084 100%);
    background-image: -webkit-linear-gradient(left, #FC7B6B 0%, #f98d81 49.88%, #f99084 100%);
    background-image: linear-gradient(left, #FC7B6B 0%, #f98d81 49.88%, #f99084 100%);
}

.skillst8 .count-bar.color-11 {
    background-image: -moz-linear-gradient(left, #563D7C 0%, #634b89 49.88%, #67518c 100%);
    background-image: -o-linear-gradient(left, #563D7C 0%, #634b89 49.88%, #67518c 100%);
    background-image: -webkit-linear-gradient(left, #563D7C 0%, #634b89 49.88%, #67518c 100%);
    background-image: linear-gradient(left, #563D7C 0%, #634b89 49.88%, #67518c 100%);
}

.skillst8 .title {
    position: absolute;
    line-height: 25px;
    top: -25px;
    left: 0;
    padding-left: 10px;
}

.skillst8 .count-bar .count {
    position: absolute;
    line-height: 18px;
    top: -28px;
    right: -20px;
    width: 40px;
    height: 18px;
    color: #fff;
    text-align: center;
}

.skillst8 .count-bar .count span {
    position: relative;
    display: block;
}

.skillst8 .count-bar .count span::after {
    position: absolute;
    left: 50%;
    margin-left: -4px;
    top: 18px;
    content: "";
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.skillst8 .count-bar.color-1 .count {
    background-color: #C94106;
}

.skillst8 .count-bar.color-1 .count span::after {
    border-top: 4px solid #C94106;
}

.skillst8 .count-bar.color-2 .count {
    background-color:  #682ABE;
}

.skillst8 .count-bar.color-2 .count span::after {
    border-top: 4px solid  #682ABE;
}

.skillst8 .count-bar.color-3 .count {
    background-color: #f1c40f;
}

.skillst8 .count-bar.color-3 .count span::after {
    border-top: 4px solid #f1c40f;
}

.skillst8 .count-bar.color-4 .count {
    background-color: #2980b9;
}

.skillst8 .count-bar.color-4 .count span::after {
    border-top: 4px solid #2980b9;
}

.skillst8 .count-bar.color-5 .count {
    background-color: #000000;
}

.skillst8 .count-bar.color-5 .count span::after {
    border-top: 4px solid #000000;
}

.skillst8 .count-bar.color-6 .count {
    background-color: #444343;
}

.skillst8 .count-bar.color-6 .count span::after {
    border-top: 4px solid #444343   ;
}

.skillst8 .count-bar.color-7 .count {
    background-color: #1D8603;
}

.skillst8 .count-bar.color-7 .count span::after {
    border-top: 4px solid #1D8603;
}


.skillst8 .count-bar.color-8 .count {
    background-color: #910505;
}

.skillst8 .count-bar.color-8 .count span::after {
    border-top: 4px solid #910505;
}

.skillst8 .count-bar.color-9 .count {
    background-color: #65D38D;
}

.skillst8 .count-bar.color-9 .count span::after {
    border-top: 4px solid #65D38D;
}

.skillst8 .count-bar.color-10 .count {
    background-color: #FC7B6B;
}

.skillst8 .count-bar.color-10 .count span::after {
    border-top: 4px solid #FC7B6B;
}

.skillst8 .count-bar.color-11 .count {
    background-color: #563D7C;
}

.skillst8 .count-bar.color-11 .count span::after {
    border-top: 4px solid #563D7C;
}

.title {
    font-size: 20px;
}

.copyright {
    background-color:#363642;
    text-align: center;
    padding: 40px 0 30px;
}

.main-copyright {
    color: white;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
}